<div class="hero hero--groceries">
  <div class="grocery-list-header">
    <h1>Grocery List</h1>
    <div class="ingredient-count">
      <span class="checked-ingredients">0</span>
      of <%= @ingredient_count %>
    </div>
  </div>
</div>
<div class="container container--recipe">
  <% @meal_plans.each do |meal_plan| %>
    <div class="ingredient-group">
      <div class="recipe__subheader">
        <% if meal_plan.recipe.image_url %>
          <div class="recipe__image" style="background-image: url(<%= meal_plan.recipe.image_url %>)"></div>
        <% end %>
        <%= link_to meal_plan.recipe do %>
          <h2><%= meal_plan.recipe.name %></h2>
          <%= link_to "Remove", archive_meal_plan_path(meal_plan) %>
        <% end %>
      </div>
      <% meal_plan.recipe.ingredients.each do |ingredient| %>
        <div class="ingredient">
          <div class="checkbox"></div>
          <p><%= ingredient %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.ingredient').on('click', function() {
    var checkedIngredients = $('.checked-ingredients').text();
    if ($(this).hasClass('ingredient--checked')) {
      checkedIngredients--
    } else {
      checkedIngredients++
    }
    $(this).toggleClass('ingredient--checked');
    $('.checked-ingredients').text(checkedIngredients);
  })
</script>
