<div class="hero hero--groceries">
  <div class="grocery-list-header">
    <h1>Groceries</h1>
    <div class="ingredient-count">
      <span class="checked-ingredients">0</span>
      of <%= @ingredient_count %>
    </div>
  </div>
</div>
<div class="container container--recipe">
  <% @meal_plans.each do |meal_plan| %>
    <div class="ingredient-group ingredient-group--meal-plan">
      <div class="recipe__subheader">
        <% if meal_plan.recipe.image_url %>
          <div class="recipe__image" style="background-image: url(<%= meal_plan.recipe.image_url %>)"></div>
        <% end %>
        <div>
          <%= link_to recipe_source_recipe_path(meal_plan.recipe.recipe_source_id ,meal_plan.recipe, false) do %>
            <h2><%= meal_plan.recipe.name %></h2>
          <% end %>
          <%= link_to "Remove", remove_from_list_recipe_path(meal_plan), class: "simple-link simple-link--underline" %>
        </div>
      </div>
      <% if meal_plan.recipe.ingredients.count > 0 %>
        <% meal_plan.recipe.ingredients.each do |ingredient| %>
          <div class="ingredient ingredient--checkable">
            <div class="checkbox"></div>
            <p><%= ingredient.note %></p>
          </div>
        <% end %>
      <% else %>
        <% meal_plan.recipe.ingredients_array.each do |ingredient| %>
          <div class="ingredient ingredient--checkable">
            <div class="checkbox"></div>
            <p><%= ingredient %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% @groceries.each do |item, ingredients| %>
    <div class="ingredient ingredient--checkable">
      <div class="checkbox"></div>
      <div style="display: flex; flex-direction: column;">
        <p><%= item.name %></p>
        <% item.ingredients.each do |ingredient| %>
          <p><%= ingredient.note %> | <%= ingredient.recipe.name %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.ingredient').on('click', function() {
    var checkedIngredients = $('.checked-ingredients').text();
    if ($(this).hasClass('ingredient--checked')) {
      checkedIngredients--
    } else {
      checkedIngredients++
    }
    $(this).toggleClass('ingredient--checked');
    $('.checked-ingredients').text(checkedIngredients);
  })
</script>
