<div class="hero hero--home">
  <h1>Save all of your favorite recipes in one place.</h1>
</div>
<div class="container container--recipe-index">
  <div class="sidebar">
    <section>
      <h4>Most Popular Blogs</h4>
      <ul>
        <% @most_popular_sources.each do |source| %>
          <li><%= link_to source.name, recipe_source_path(source), class: "simple-link simple-link--underline" %></li>
        <% end %>
      </ul>
    </section>
    <section>
      <h4>Diets</h4>
      <ul>
        <li><%= link_to "Gluten-Free", recipes_search_path(term: "gluten-free"), class: "simple-link simple-link--underline" %></li>
        <li><%= link_to "Keto", recipes_search_path(term: "keto"), class: "simple-link simple-link--underline" %></li>
        <li><%= link_to "Paleo", recipes_search_path(term: "paleo"), class: "simple-link simple-link--underline" %></li>
        <li><%= link_to "Vegan", recipes_search_path(term: "vegan"), class: "simple-link simple-link--underline" %></li>
        <li><%= link_to "Vegetarian", recipes_search_path(term: "vegetarian"), class: "simple-link simple-link--underline" %></li>
      </ul>
    </section>
    <section>
      <h4>Popular Ingredients</h4>
      <ul>
        <li><%= link_to "Beef", "/recipes/ingredient/beef", class: "simple-link simple-link--underline" %></li>
        <li><%= link_to "Chicken", "/recipes/ingredient/chicken", class: "simple-link simple-link--underline" %></li>
        <li><%= link_to "Chocolate", "/recipes/ingredient/chocolate", class: "simple-link simple-link--underline" %></li>
        <li><%= link_to "Kale", "/recipes/ingredient/kale", class: "simple-link simple-link--underline" %></li>
        <li><%= link_to "Noodles", "/recipes/ingredient/noodles", class: "simple-link simple-link--underline" %></li>
      </ul>
    </section>
    <section>
      <h4>Feeling lucky?</h4>
      <ul>
        <li><%= link_to "Random Recipe", recipe_source_recipe_path(@random_recipe.recipe_source, @random_recipe), class: "simple-link simple-link--underline" %></li>
      </ul>
    </section>
  </div>
  <div class="recipes-grid">
    <% @recipes.each do |recipe| %>
      <%= render 'recipe_card_large', recipe: recipe, recipe_source: recipe.recipe_source, show_source: true %>
    <% end %>
  </div>
</div>
<div class="pagination-wrapper">
  <%= paginate @recipes, window: 1 %>
</div>
