<div class="container container--search">
  <div class="search-inputs">
    <div class="search-by-term">
      <% if @term && @term.present? %>
        <h2>Showing results for "<span class="search-input__term"><%= @term %></span>" (<%= @results.count %>)</h2>
      <% else %>
        <h2>Search over 5,000 recipes</h2>
      <% end %>
      <%= render 'search_form' %>
      <div class="search-by-term__quicklinks">
        <% @sample_search_terms.sort_by!{ |e| e.downcase }.each do |term| %>
          <%= link_to term, recipes_search_path(term: term) %>
        <% end %>
      </div>
    </div>
    <div class="search-by-link">
      <h3>Looking for a specific recipe?</h3>
      <p>Paste a link to to import a recipe from your favorite blog or website.</p>
      <%= render 'form', recipe: @recipe %>
    </div>
  </div>
  <div class="search-results">
    <div class="results">
      <% @recipes.each do |recipe| %>
        <%= render 'recipe_card_large', recipe: recipe, recipe_source: recipe.recipe_source, show_source: true %>
      <% end %>
    </div>
    <div class="pagination-wrapper">
      <%= paginate @recipes, window: 1 %>
    </div>
  </div>
</div>
