<div class="hero hero--recipe">
  <h1><%= @recipe.name %></h1>
</div>
<div class="container container--recipe">
  <% if @recipe.image_url %>
    <div class="recipe__image" style="background-image: url(<%= @recipe.image_url %>)"></div>
  <% end %>
  <div class="recipe__subheader">
    <h2>Ingredients</h2>
    <a href="<%= @recipe.link %>?utm_source=mealprepday.co&utm_medium=referral" class="simple-link">View Recipe</a>
  </div>

  <% @recipe.ingredients.each do |ingredient| %>
    <div class="ingredient">
      <p><%= ingredient %></p>
    </div>
  <% end %>
</div>

<% if current_user && @already_added %>
  <%= link_to groceries_path, id: "grocery_list_button" do %>
    <span><%= @ingredient_count %></span>
  <% end %>
<% elsif current_user %>
  <%= form_for([@recipe, @recipe.meal_plans.build]) do |f| %>
    <%= f.hidden_field :status, value: "Upcoming" %>
    <%= f.hidden_field :user_id, value: current_user["uid"] %>
    <div id="grocery_list_button">
      <%= f.submit "Add to Grocery List", id: "add-to-list" %>
      <span><%= @ingredient_count %></span>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  $('#add-to-list-button').on('click', function() {
    $(this).closest('form').submit()
  })
</script>
