<div class="hero hero--recipe">
  <div class="hero__content">
    <div class="recipe__header">
      <h1><%= @recipe.name %></h1>
    </div>
    <div class="recipe__subheader">
      <%= link_to @recipe_source.name, @recipe_source, class: "simple-link simple-link--underline" %>
      <% if current_user && @like %>
        <%= render 'unlike' %>
      <% elsif current_user %>
        <%= render 'like' %>
      <% end %>
    </div>
  </div>
</div>
<div class="container container--recipe">
  <% unless @recipe.image_url.blank? %>
    <div class="recipe__image" style="background-image: url(<%= @recipe.image_url %>)"></div>
  <% end %>
  <% unless current_user %>
    <div class="recipe__subheader sign-in-cta">
      <p>Sign in to create a grocery list from this recipe.</p>
      <%= link_to "Sign In", {controller: "auth0", action: "login", redirect_url: request.original_url } %>
    </div>
  <% end %>
  <div class="recipe__subheader">
    <h2>Ingredients (<%= @recipe.ingredients.length %>)</h2>
    <a href="<%= @recipe.link %>?utm_source=mealprepday.co&utm_medium=referral" class="simple-link simple-link--underline">View Recipe</a>
  </div>
  <% @recipe.ingredients.each do |ingredient| %>
    <div class="ingredient">
      <p><%= ingredient %></p>
    </div>
  <% end %>
</div>
<% if @recipe_source.recipes.count > 3 %>
  <div class="container container--recipe" id="related-recipes">
    <h2>More from <%= @recipe_source.name %></h2>
    <%= link_to "View All Recipes", @recipe_source, class: "simple-link simple-link--underline" %>
    <div class="recipe-carousel">
      <% @recipe_source.recipes.sample(10).each do |recipe| %>
        <% unless recipe == @recipe %>
          <%= render 'recipe_card_large', recipe: recipe, recipe_source: recipe.recipe_source %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<% if @people_also_liked.count > 0 %>
  <div class="container container--recipe" id="related-recipes">
    <h2>People Also Liked</h2>
    <div class="recipe-carousel">
      <% @people_also_liked.sample(10).each do |recipe| %>
        <% unless recipe == @recipe %>
          <%= render 'recipe_card_large', recipe: recipe, recipe_source: recipe.recipe_source %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_user && @already_added %>
  <%= link_to groceries_path, id: "grocery_list_button" do %>
    <span><%= @ingredient_count %></span>
  <% end %>
<% elsif current_user %>
  <button class="ui icon button" name="add-to-grocery-list" id="grocery_list_button">
    Add to Grocery List
    <span><%= @ingredient_count %></span>
  </button>
  <%= form_for([@recipe, @recipe.meal_plans.build], html: {class: "d-none"}) do |f| %>
    <%= f.hidden_field :status, value: "Upcoming" %>
    <%= f.hidden_field :user_id, value: current_user["uid"] %>
    <%= f.submit "Add to Grocery List", id: "add-to-list" %>
  <% end %>
<% end %>

<script type="text/javascript">
  $('#grocery_list_button').on('click', function() {
    $(this).siblings('form').submit()
  })

  $('#like-recipe').on('click', function(e) {
    e.preventDefault();
    $(this).siblings('form').submit();
  })
</script>
