<div class="hero hero--recipe">
  <%= link_to recipes_path, class: "ui icon button" do %>
    <i class="arrow left icon"></i>
  <% end %>
  <h1><%= @recipe.name %></h1>
</div>
<div class="container container--recipe">
  <% if @recipe.image_url %>
    <div class="recipe__image" style="background-image: url(<%= @recipe.image_url %>)"></div>
  <% end %>
  <div class="recipe__subheader">
    <h2>Ingredients</h2>
    <p><a href="<%= @recipe.link %>">View Recipe</a></p>
  </div>

  <% @recipe.ingredients.each do |ingredient| %>
    <div class="ingredient">
      <p><%= ingredient %></p>
    </div>
  <% end %>
</div>

<% if current_user %>
  <% if @already_added %>
    <%= link_to groceries_path, id: "grocery_list_button" do %>
      <span><%= @ingredient_count %></span>
    <% end %>
  <% else %>
    <%= form_for([@recipe, @recipe.meal_plans.build]) do |f| %>
      <%= f.hidden_field :status, value: "Upcoming" %>
      <%= f.hidden_field :user_id, value: current_user["uid"] %>
      <div id="grocery_list_button">
        <%= f.submit "Add to Grocery List", id: "add-to-list" %>
        <span><%= @ingredient_count %></span>
      </div>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
  $('#add-to-list-button').on('click', function() {
    $(this).closest('form').submit()
  })
</script>
