<div class="hero hero--recipe">
  <%= link_to recipes_path, class: "ui icon button" do %>
    <i class="arrow left icon"></i>
  <% end %>
  <h1><%= @recipe.name %></h1>
</div>
<div class="container container--recipe">
  <% if @recipe.image_url %>
    <div class="recipe__image" style="background-image: url(<%= @recipe.image_url %>)"></div>
  <% end %>
  <div class="recipe__subheader">
    <h2>Ingredients</h2>
    <p><a href="<%= @recipe.link %>">View Recipe</a></p>
  </div>

  <% @recipe.ingredients.each do |ingredient| %>
    <div class="ingredient">
      <div class="checkbox"></div>
      <p><%= ingredient %></p>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.ingredient').on('click', function() {
    $(this).toggleClass('ingredient--checked');
  })
</script>
