<footer class="container">
  <section>
    <h4>Connect</h4>
    <ul>
      <li><%= link_to "About Recidex", about_path, class: "simple-link simple-link--underline" %></li>
      <li><%= link_to "For Blogs (BETA)", for_blogs_path, class: "simple-link simple-link--underline" %></li>
      <li><%= link_to "Press", press_path, class: "simple-link simple-link--underline" %></li>
      <li><%= link_to "Facebook", "https://www.facebook.com/recidex", class: "simple-link simple-link--underline" %></li>
      <li><%= link_to "Twitter", "https://twitter.com/my_recidex", class: "simple-link simple-link--underline" %></li>
    </ul>
  </section>
  <section>
    <h4>Most Popular Blogs</h4>
    <ul>
      <% @most_popular_sources.each do |source| %>
        <li><%= link_to source.name, recipe_source_path(source), class: "simple-link simple-link--underline" %></li>
      <% end %>
    </ul>
  </section>
  <section>
    <h4>Most Popular Recipes</h4>
    <ul>
      <% @most_popular_recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_source_recipe_path(recipe.recipe_source, recipe), class: "simple-link simple-link--underline" %></li>
      <% end %>
    </ul>
  </section>
</footer>
