<%= link_to "Search Recipes", recipes_search_path, class: "simple-link simple-link--background simple-link--uppercase m-only" %>
<%= form_tag(recipes_search_path, :method => "get", id: "search-form", class: "m-hidden") do %>
  <div class="ui large icon input">
    <i class="search icon"></i>
    <%= text_field_tag :term, params[:term], placeholder: "Search for an ingredient or name" %>
  </div>
<% end %>
<%= link_to "Import A Recipe", new_recipe_path, class: "simple-link simple-link--background simple-link--uppercase" %>
<% if current_user %>
  <%= link_to "Groceries(#{@ingredient_count})", groceries_path, class: "simple-link simple-link--background simple-link--uppercase m-hidden" %>
  <div class="ui top right pointing dropdown item nav-avatar m-hidden">
    <% if current_user["info"]["image"] %>
      <%= image_tag current_user["info"]["image"] %>
    <% else %>
      <%= image_tag "avatar.svg" %>
    <% end %>
    <ul class="menu">
      <li class="item"><%= link_to "My Recipes", my_recipes_favorites_path, class: "simple-link simple-link--uppercase" %></li>
      <li class="item"><%= link_to "My Collections", my_recipes_collections_path, class: "simple-link simple-link--uppercase" %></li>
      <li class="item"><%= link_to "Logout", auth_logout_path, class: "simple-link simple-link--uppercase" %></li>
    </ul>
  </div>
<% else %>
  <%= link_to "Sign In", {controller: "auth0", action: "login", redirect_url: request.original_url }, class: "simple-link simple-link--background simple-link--uppercase" %>
<% end %>

<script type="text/javascript">
  $('.ui.dropdown')
    .dropdown()
  ;
</script>
