<%= form_with(model: recipe_source, local: true) do |form| %>
  <% if recipe_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_source.errors.count, "error") %> prohibited this recipe_source from being saved:</h2>

      <ul>
      <% recipe_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :recipe_source_name %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :recipe_source_link %>
  </div>

  <div class="field">
    <%= form.label :scrape_name %>
    <%= form.text_field :scrape_name, id: :recipe_source_scrape_name %>
  </div>

  <div class="field">
    <%= form.label :scrape_image %>
    <%= form.text_field :scrape_image, id: :recipe_source_scrape_image %>
  </div>

  <div class="field">
    <%= form.label :scrape_ingredient %>
    <%= form.text_field :scrape_ingredient, id: :recipe_source_scrape_ingredient %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, id: :recipe_source_slug %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
