<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe_source.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @recipe_source.link %>
</p>

<p>
  <strong>Scrape name:</strong>
  <%= @recipe_source.scrape_name %>
</p>

<p>
  <strong>Scrape ingredient:</strong>
  <%= @recipe_source.scrape_ingredient %>
</p>

<p>
  <strong>Scrape image:</strong>
  <%= @recipe_source.scrape_image %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @recipe_source.slug %>
</p>

<%= link_to 'Edit', edit_recipe_source_path(@recipe_source) %> |
<%= link_to 'Back', recipe_sources_path %>
