<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <% if @recipe && @recipe_source %>
      <title><%= @recipe.name %> by <%= @recipe_source.name %> | Recidex</title>
      <meta property="og:title" content="<%= @recipe.name %> by <%= @recipe_source.name %> | Recidex" />
      <meta name="description"
            content="Save all of your favorite recipes in one place. Import recipes from any blog or website and build a grocery list to plan your weekly meals."/>
      <meta property="og:description"
            content="Save all of your favorite recipes in one place. Import recipes from any blog or website and build a grocery list to plan your weekly meals." />
      <% if @recipe.image_url %>
        <meta property="og:image" content="<%= @recipe.image_url %>" />
      <% end %>
      <meta property="og:image:width" content="400" />
      <meta property="og:image:height" content="400" />
    <% elsif @recipe_source %>
      <title>Top reviewed recipes from <%= @recipe_source.name %> | Recidex</title>
      <meta property="og:title" content="Top reviewed recipes from <%= @recipe_source.name %> | Recidex" />
      <meta name="description"
            content="Save all of your favorite recipes in one place. Import recipes from any blog or website and build a grocery list to plan your weekly meals."/>
      <meta property="og:description"
            content="Save all of your favorite recipes in one place. Import recipes from any blog or website and build a grocery list to plan your weekly meals." />
      <meta property="og:image" content="<%= image_url 'recidex-banner.jpg' %>" />
      <meta property="og:image:width" content="800" />
      <meta property="og:image:height" content="600" />
    <% else %>
      <title>Save and review your favorite recipes | Recidex</title>
      <meta property="og:title" content="Save and review your favorite recipes | Recidex" />
      <meta name="description"
            content="Save all of your favorite recipes in one place. Import recipes from any blog or website and build a grocery list to plan your weekly meals."/>
      <meta property="og:description"
            content="Save all of your favorite recipes in one place. Import recipes from any blog or website and build a grocery list to plan your weekly meals." />
      <meta property="og:image" content="<%= image_url 'recidex-banner.jpg' %>" />
      <meta property="og:image:width" content="600" />
      <meta property="og:image:height" content="400" />
    <% end %>
    <meta name="p:domain_verify" content="072aa96b8835de10881ac68fe29377fc"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44787524-10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-44787524-10');
    </script>
    <title>Recidex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <% if notice %>
      <div class="notice">
        <p><%= notice %></p>
      </div>
    <% end %>
    <div class="ui sidebar vertical right menu">
      <%= render 'shared/mobile_nav_links' %>
    </div>
    <div class="pusher">
      <div class="nav">
        <div class="nav__left">
          <%= link_to image_tag("recidex-logo.svg"), recipes_path, class: "logo" %>
          <%= form_tag(recipes_search_path, :method => "get", id: "search-form", class: "m-hidden") do %>
            <div class="ui large icon input">
              <i class="search icon"></i>
              <%= text_field_tag :term, params[:term], placeholder: "Search for an ingredient or name" %>
            </div>
          <% end %>
        </div>
        <div class="nav__right m-hidden">
          <%= render 'shared/nav_links' %>
        </div>
        <div class="m-only">
          <% if current_user %>
            <%= link_to "Groceries(#{@ingredient_count})", groceries_path, class: "simple-link simple-link--background" %>
          <% end %>
          <a class="open">
            <i class="bars icon"></i>
          </a>
        </div>
      </div>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>

    <script type="text/javascript">
      $('.ui.sidebar')
        .sidebar('attach events', '.open', 'show')
        .sidebar('setting', 'transition', 'push');
    </script>
  </body>
</html>
