<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44787524-10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-44787524-10');
    </script>
    <title>Meal Prep Day</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:400,700" rel="stylesheet">
  </head>

  <body>
    <div class="ui sidebar vertical right menu">
      <%= render 'shared/nav_links' %>
    </div>
    <div class="pusher">
      <div class="nav">
        <%= link_to "Sunday Pizza", root_path, class: "simple-link" %>
        <div class="nav__right m-hidden">
          <%= render 'shared/nav_links' %>
        </div>
        <a class="open m-only">
          <i class="bars icon"></i>
        </a>
      </div>
      <%= yield %>
    </div>
  </body>
</html>

<script type="text/javascript">
  $('.ui.sidebar')
    .sidebar('attach events', '.open', 'show')
    .sidebar('setting', 'transition', 'push');
</script>
