<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44787524-10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-44787524-10');
    </script>
    <title>Recidex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="ui sidebar vertical right menu">
      <%= render 'shared/nav_links' %>
    </div>
    <div class="pusher">
      <div class="nav">
        <%= link_to image_tag("recidex-logo.svg"), recipes_path, class: "logo" %>
        <div class="nav__right m-hidden">
          <%= render 'shared/nav_links' %>
        </div>
        <div class="m-only">
          <% if current_user %>
            <%= link_to "Groceries(#{@ingredient_count})", groceries_path, class: "simple-link simple-link--background" %>
          <% end %>
          <a class="open">
            <i class="bars icon"></i>
          </a>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>

<script type="text/javascript">
  $('.ui.sidebar')
    .sidebar('attach events', '.open', 'show')
    .sidebar('setting', 'transition', 'push');
</script>
